{% extends "portfolio/base.html" %}

{% block content %}
<div class="container">
    <h2>{{ blogs.count }} blog {{ blogs.count|pluralize }}</h2>

    <div class="blog-container row">
        {% for blog in blogs %}
            <div class="col-md-4 mb-4">
                <div class="blog-item">
                    <div class="blog-header">
                        <span class="blog-author">{{ blog.author }}</span>
                        <span class="blog-date">{{ blog.date|date:'M d Y' }}</span>
                    </div>
                    <a href="{% url 'blog:detail' blog.id %}">
                        <img src="{{ blog.image.url }}" class="img-fluid mb-2" alt="{{ blog.title }}">
                    </a>
                    <a href="{% url 'blog:detail' blog.id %}" class="blog-title">
                        <h2>{{ blog.title }}</h2>
                    </a>
                    <p class="blog-description">{{ blog.text|striptags|truncatechars:100 }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
